.loading {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 30px;
  right: 30px;
  z-index: 100;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: white;
}

.App h1, .App h5 {
  color: grey;
}

.App h1 {
  margin-bottom: 10px;
}

.App h5 {
  margin-top: 0;
  font-weight: 500;
}

.App h5 > span {
  font-weight: 700;
  font-size: 20px;
}

.trello-lists-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.trello-list-slot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trello-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.trello-list > h1 {
  font-size: 20px;
}

.trello-list > h1 > span {
  opacity: 0.6;
}

.red-outline {
  border: 5px rgba(255, 12, 12, 0.589) solid;
}