.meetings-container {
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

.meetingCard {
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(85, 138, 173, 0.5);

    border-radius: 15px;
    margin: 20px;
    padding: 15px;
}

.meetingCard>p {
    margin: 5px;
}

.add-meeting {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-meeting>p {
    border: 2px solid rgb(85, 85, 228);
    color: rgb(85, 85, 228);
    border-radius: 10px;
    padding: 5px 15px;
}

.add-meeting>p:hover {
    background-color: rgb(85, 85, 228, 0.2);
    cursor: pointer;
}

.meetingCard>div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.meetingCard>div>p {
    border: 2px solid rgb(85, 85, 228);
    color: rgb(85, 85, 228);
    border-radius: 10px;
    padding: 5px 15px;
    margin: 10px 0 0 0;
}

.meetingCard>div>p:hover {
    background-color: rgb(85, 85, 228, 0.2);
    cursor: pointer;
}