.team-mood-container {
    width: 70%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mood-container {
    min-width: 30px;
    height: 30px;
    
    border: solid 4px transparent;

    box-shadow: 0 0 10px 0 rgba(85, 138, 173, 0.5);
    border-radius: 10px;

    display: flex;
    align-items: center;

    padding: 5px 20px;
}

.mood-container > select {
    border: none;
    padding: 0 10px;
    width: 70px;
    font-size: 25px;
}