.password {
    position: absolute;
    top: 20px;
    right: 30px;

    padding: 5px 15px;

    border: 2px solid rgb(85, 85, 228);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s background-color;
}

.password:hover {
    background-color: rgb(85, 85, 228, 0.2);
    cursor: pointer;
}

.password > p {
    margin: 0;
    color: rgb(85, 85, 228);
}